[submodule "home/.vim/bundle/sparkup"]
	path = home/.vim/bundle/sparkup
	url = http://github.com/sophacles/vim-bundle-sparkup.git
[submodule "home/.vim/bundle/LustyJuggler"]
	path = home/.vim/bundle/LustyJuggler
	url = http://github.com/vim-scripts/LustyJuggler.git
[submodule "home/.vim/bundle/scss-syntax"]
	path = home/.vim/bundle/scss-syntax
	url = http://github.com/cakebaker/scss-syntax.vim.git
[submodule "home/.vim/bundle/rooter"]
	path = home/.vim/bundle/rooter
	url = http://github.com/airblade/vim-rooter.git
[submodule "home/.vim/bundle/markdown"]
	path = home/.vim/bundle/markdown
	url = http://github.com/robertwahler/vim-markdown.git
[submodule "home/.vim/bundle/peepopen"]
	path = home/.vim/bundle/peepopen
	url = http://github.com/shemerey/vim-peepopen.git
