[submodule "home/.vim/bundle/sparkup"]
	path = home/.vim/bundle/sparkup
	url = http://github.com/sophacles/vim-bundle-sparkup.git
[submodule "home/.vim/bundle/LustyJuggler"]
	path = home/.vim/bundle/LustyJuggler
	url = http://github.com/vim-scripts/LustyJuggler.git
[submodule "home/.vim/bundle/scss-syntax"]
	path = home/.vim/bundle/scss-syntax
	url = http://github.com/cakebaker/scss-syntax.vim.git
[submodule "home/.vim/bundle/rooter"]
	path = home/.vim/bundle/rooter
	url = http://github.com/airblade/vim-rooter.git
[submodule "home/.vim/bundle/markdown"]
	path = home/.vim/bundle/markdown
	url = http://github.com/robertwahler/vim-markdown.git
[submodule "home/.vim/bundle/peepopen"]
	path = home/.vim/bundle/peepopen
	url = http://github.com/shemerey/vim-peepopen.git
[submodule "home/.vim/bundle/surround"]
	path = home/.vim/bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/repeat"]
	path = home/.vim/bundle/repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "home/.vim/bundle/endwise"]
	path = home/.vim/bundle/endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/git"]
	path = home/.vim/bundle/git
	url = http://github.com/tpope/vim-git.git
[submodule "home/.vim/bundle/taglist"]
	path = home/.vim/bundle/taglist
	url = http://github.com/vim-scripts/taglist.vim.git
[submodule "home/.vim/bundle/unimpaired"]
	path = home/.vim/bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "home/.vim/bundle/ragtag"]
	path = home/.vim/bundle/ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule "home/.vim/bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "home/.vim/bundle/neocomplcache"]
	path = home/.vim/bundle/neocomplcache
	url = http://github.com/Shougo/neocomplcache.git
[submodule "home/.vim/bundle/ack"]
	path = home/.vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/tcomment"]
	path = home/.vim/bundle/tcomment
	url = http://github.com/tsaleh/vim-tcomment.git
[submodule "home/.vim/bundle/task"]
	path = home/.vim/bundle/task
	url = git://github.com/samsonw/vim-task.git
[submodule "home/.vim/bundle/snipmate"]
	path = home/.vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "home/.vim/bundle/FuzzyFinder"]
	path = home/.vim/bundle/FuzzyFinder
	url = http://github.com/vim-scripts/FuzzyFinder.git
[submodule "home/.vim/bundle/L9"]
	path = home/.vim/bundle/L9
	url = http://github.com/vim-scripts/L9.git
[submodule "home/.vim/bundle/zencoding"]
	path = home/.vim/bundle/zencoding
	url = http://github.com/mattn/zencoding-vim.git
[submodule "home/.vim/bundle/rails"]
	path = home/.vim/bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/jslint"]
	path = home/.vim/bundle/jslint
	url = http://github.com/hallettj/jslint.vim.git
